@{
    Layout = null;
}
@model OnlineAptitude.Models.RegistrationRoleViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />


    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/assets/img/favicon.png">
    <title>
        Online Aptitude Test
    </title>
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
    <!-- Nucleo Icons -->
    <link href="~/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/assets/css/nucleo-svg.css" rel="stylesheet" />

    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">

    <!-- CSS Files -->



    <link id="pagestyle" href="~/assets/css/material-dashboard.css?v=3.1.0" rel="stylesheet" />





    <!-- Nepcha Analytics (nepcha.com) -->
    <!-- Nepcha is a easy-to-use web analytics. No cookies and fully compliant with GDPR, CCPA and PECR. -->
    <script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>


</head>
<body>

    <main class="main-content  mt-0">
        <section>
       <form asp-action="Registration" method="POST" enctype="multipart/form-data">

            <div class="page-header min-vh-100" style="background-color: black;">
                <div class="container">
                    <div class="row">
                        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 start-0 text-center justify-content-center flex-column">
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto ">
                        <div class="card card-plain ">
                            <div class="card-header bg-primary">
                                <h4 class="font-weight-bolder text-light text-center">Sign Up</h4>
                            </div>
                            <div class="card-body bg-light">
                               
                                    <div class="input-group input-group-outline mb-3">
                                        @* <label asp-for="Registration.Username" class="control-label"></label> *@
                                        <input asp-for="Registration.Username" type="text" class="form-control">
                                    </div>

                                    <div class="input-group input-group-outline mb-3">
                                       @*  <label asp-for="Registration.Password" class="control-label"></label> *@
                                        <input asp-for="Registration.Password" type="password" class="form-control">
                                    </div>

                                    <div class="input-group input-group-outline mb-3">
                                       @*  <label asp-for="Registration.RoleIdFk" class="control-label"></label> *@

                                        <select asp-for="Registration.ro" class="control-label">
                                            @foreach (var tem in Model.RoleList)
                                            {
                                                <option value="@tem.RoleId">@tem.Rolename</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="input-group input-group-outline mb-3">
                                       @*  <label asp-for="Registration.PersonalDetails" class="control-label"></label> *@
                                        <input asp-for="Registration.PersonalDetails" type="PrsonalDetails" class="form-control">
                                    </div>

                                    <div class="input-group input-group-outline mb-3">
                                       @*  <label asp-for="Registration.EducationDetails" class="control-label"></label> *@
                                        <input asp-for="Registration.EducationDetails" type="EducationDetails" class="form-control">
                                    </div>

                                    <div class="input-group input-group-outline mb-3">
                                        @* <label asp-for="Registration.WorkExperience" class="control-label"></label>
 *@                                        <input asp-for="Registration.WorkExperience" type="WorkExperince" class="form-control">
                                    </div>
                                    @* Image work *@
                                    <div class="input-group input-group-outline mb-3">
                                        @* <label asp-for="Registration.UserImage" class="control-label"></label> *@
                                        <input type="file" name="file" id="file" class="form-control">
                                    </div>
                             
                                    @* button *@
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0">Signup</button>
                                    </div>
                                
                            </div>
                            <div class="card-footer text-center pt-0 px-lg-2 px-1 bg-light">
                                <p class="mb-2 text-sm mx-auto">
                                    Already have an account?
                                    <a asp-controller="Home" asp-action="Signin" class="text-primary text-gradient font-weight-bold">Sign in</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </form>
        </section>
    </main>
</body>
</html>
